.hero {
  display: flex;
  justify-content: center;
}

.hero-title {
  margin: 0px;
  color: rgb(32, 35, 41);
  border: none;
  font-weight: 900;
  z-index: 1;
  font-size: 5.625rem;
  padding: 40px 0;
}